@font-face {
    font-family: 'LoudBeats';
    src: url('../assets/LoudBeats.ttf');
}

@font-face {
    font-family: 'Leander';
    src: url('../assets/Leander.ttf');
}

* /* Ce sélecteur cible individuellement chaque balise de ton document HTML */ {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; /* Comme tu utilises des valeurs en rem, il faut faire la déclaration initiale en px qui sert de base de calcul */
}

h1 {
    font-family: 'LoudBeats';
    font-size: 3rem;
    color: rgb(142, 178, 209);
}

a {
    color: #000000;
    pointer-events: auto;
}

a:visited {
    color: #45454a;
}

#main-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

article {
    max-width: 500px;
    margin: 0 auto;
    text-align: justify;
    font-family: 'Leander';
}

p.secret {
    color: black;
    font-size: 1rem;
}

main {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

main canvas {
    height: 100%;
}

header {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Leander';
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}